
<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->
<script>
$( document ).ready(function() {

$('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2,h3,h4' });

/* this offset helps account for the space taken up by the floating toolbar. */
$('#toc').on('click', 'a', function() {
  var target = $(this.getAttribute('href'))
    , scroll_target = target.offset().top

  $(window).scrollTop(scroll_target - 60);
  return false
})

$(".toc-button").on('click', function(){
  $(".toc").toggle();
});


$(window).click(function(evt){
  if( !evt.target.matches('.toc') 
      && !evt.target.matches('.toc>ul') 
      && !evt.target.matches('.toc-button') ) {
    $('.toc').each(function(){
      if( $(this).is(":visible") ) {
        $(this).hide();
      }
    });
  }
});

});
</script>

<div class="float-toc">
    <i class="toc-button fa fa-list-ol" aria-hidden="true"></i>
  <div id="toc"></div>
</div>
